@if (TempData["errorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissable" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error:</strong> @TempData["errorMessage"]
    </div>
}