@model ProjectArcBlade.Models.TeamViewModels.TeamDashboardViewModel

<h2>Administration</h2>
<hr />
<div class="well">
    <div class="list-group">
        <a class="list-group-item" asp-action="Edit" asp-route-id="@Model.SelectedTeamId">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Update Team 
        </a>
        <a class="list-group-item" asp-action="ManageNominations" asp-route-id="@Model.SelectedTeamId">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Manage Nominations
        </a>
    </div>
</div>