@model ProjectArcBlade.Models.TeamViewModels.DashboardTeamViewModel

<h2>Recent Matches</h2>
<hr />
<div class="well">
    @if (Model.RecentMatches.Count != 0)
            {
        <table class="table">
            <thead>
                <tr>
                    <th>VS</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    }
    else
    {
        <div>There are no recent matches</div>
    }
</div>